# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
ios/Pods/
ios/build/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
ios/RentYourRide/MetroHost.config.json

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# editor
*.swp
.*.swp

# macOS
.DS_Store
*.pem

# local env files
.env
.env.save
.env*.local
stripe.secret.local
phone-sms.secret.local
apps/api/.env
apps/api/.ssm-*.json

# typescript
*.tsbuildinfo
