.edit-profile-wrapper {
  background-color: #fcfcfc;
  padding: 3vw 6vw 5vw 2vw;
  .edit-profile-header {
    margin: 0 0 4vw 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #17252a;
    font-size: 2vw;
  }

  .tabs-wrapper {
    margin-top: 3vw;
    .react-tabs__tab-list {
      border: none;
      .react-tabs__tab {
        border: none;
        font-family: "Nunito", sans-serif;
        font-size: 1.5vw;
        color: #acacac;
        margin: 0 2vw 0 0;
        text-align: left;
        padding: 0.5vw 0;
      }
      .react-tabs__tab--selected {
        border-bottom: 2px solid #4cb6b1;
        color: #17252a;
        background: none;
      }
    }
    .react-tabs__tab-panel--selected {
      display: block;
      border-top: 2px solid #bfe9e7;
      margin-top: -11px;
    }
  }
}
